@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Belgrano&family=La+Belle+Aurore&display=swap');

html,
body {
	font-size: 1.3rem;
	margin: 0;
}

body {
	background-color: #fbf8f3;
}

:root {
	font: normal 1rem/1.6 'Lato', sans-serif;
	color: var(--text-color);
	--display: normal 2.5rem/1.3 'Belgrano';
	--title: normal 1.5rem/1.3 'Belgrano';
	--alt-text: normal 1.375rem/1.2 'La Belle Aurore';

	--bg-color: #fbf8f3;
	--bg-colorlight: #fcfcfc;
	--border-color: #f2e9da;
	--border-radius: 18px;
	--border-radius-inner: 8px;

	--brand-colour: #e9681b;
	--brand-colourlight: #e9ab1b;
	--brand-colourdark: #ad4708;
	--brand-contrastlight: #fbf8f3;
	--brand-contrastdark: #4f3c18;

	--secondary-color: #ded0e9;
	--accent-color: var(--brand-colour);
	--text-color: #604a1d;
	--title-color: #4f3c18;
}

h1,
h2,
h3 {
	font: var(--title);
	color: var(--brand-colour);
}

h4,
h5,
h6 {
	font: var(--title);
	color: var(--title-color);
}

h2 {
	font: var(--display);
}

a {
	text-decoration: none;
	color: var(--brand-colourdark);
}

a:hover {
	text-decoration: underline;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
