@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Belgrano&family=La+Belle+Aurore&display=swap');

html,
body {
  font-size: 1.125rem;
  margin: 0;
}

body {
  background-color: #FBF8F3;
}

:root {
  font: normal 1rem/1.6 'Lato', sans-serif;
  color: var(--text-color);
  --display: normal 2.5rem/1.3 'Belgrano';
  --title: normal 1.5rem/1.3 'Belgrano';
  --alt-text: normal 1.375rem/1.2 "La Belle Aurore";

  --brand-colour: #12a962;
  --brand-colourlight: #12a962;
  --brand-colourdark: #005d31;
  --brand-contrastlight: #efefef;
  --brand-contrastdark: #081a11;

  --secondary-color: #d0dde9;
  --accent-color: var(--brand-colour);
  --text-color: #4b4b4b;
  --title-color: var(--brand-contrastdark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: var(--title);
  color: var(--title-color);
}

h2 {
  font: var(--display);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}